* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	background-color: black;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}


/* FACE */
.Monika {
	
	width: 100%;
	height: 500px;

	max-height: 70vh;

	flex-grow: 1;

	background: url("monika.jpg") center no-repeat;

	img {
		max-height: 100%;
		width: auto;
		margin: 0 auto;
		display: block;
		object-fit: cover;	
	}

}


/* CHAT */
.chat {

	text-align: center;

	flex-shrink: 0;

	flex-grow: 1;
	
	width: 100%;
	height: 25vh;

	.inputin {
		height: 15%;
		width: 97%;
	}

	.output {
		margin-left: 1%;
		width: 98%;
		height: 100%;
		-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
		-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
		box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
		background-color: pink;
		font-size: 1.5em;
		text-align: left;	
		flex-grow: 1;
	}

}


/* POP-UP */
.modal {
	display: none;
	position: fixed;
	right: -400px;
	top: 50%;
	transform: translateY(-50%);
	width: 400px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	transition: right 0.5s ease-out;
}

.modal-content {
	padding: 20px;
}

.close {
	float: right;
	cursor: pointer;
}

/* Анимация выезда / уезда */
@keyframes slideIn {

	0% {
		right: -400px;
	}
	
	100% {
		right: 0;
	}

}

@keyframes slideOut {

	0% {
		right: 0;
	}
	
	100% {
		right: -400px;
	}

}

#modalButton {
	position: fixed;
	right: 10px;
	top: 10px;
	background: url("log.png") center no-repeat;
	background-size: 100% 100%;

	width: 10ex;
	height: 10ex;
}
